Repository guyueh1/NeMo-RL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/rl_maintainers, @nvidia-nemo/rl_reviewers_ci, @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_multimodal, @nvidia-nemo/rl_reviewers_supervised, @nvidia-nemo/rl_reviewers_environments, @nvidia-nemo/rl_reviewers_eval, @nvidia-nemo/rl_reviewers_infra, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_perf, @nvidia-nemo/rl_reviewers_doc

.github/CODEOWNERS:

# Order is important: later matches have higher precedence

# List of reviewer teams
# @nvidia-nemo/rl_reviewers_algo
# @nvidia-nemo/rl_reviewers_supervised
# @nvidia-nemo/rl_reviewers_async
# @nvidia-nemo/rl_reviewers_automodel
# @nvidia-nemo/rl_reviewers_ci
# @nvidia-nemo/rl_reviewers_doc
# @nvidia-nemo/rl_reviewers_environments
# @nvidia-nemo/rl_reviewers_eval
# @nvidia-nemo/rl_reviewers_generation
# @nvidia-nemo/rl_reviewers_infra
# @nvidia-nemo/rl_reviewers_mcore
# @nvidia-nemo/rl_reviewers_multimodal
# @nvidia-nemo/rl_reviewers_models
# @nvidia-nemo/rl_reviewers_perf

# Catch-all if not defined
* @nvidia-nemo/rl_maintainers

# CI/Test
/.github/ @nvidia-nemo/rl_reviewers_ci
/tests/ @nvidia-nemo/rl_reviewers_ci

# Examples and configs (TODO: Add all algo subteams eventually)
/examples/ @nvidia-nemo/rl_reviewers_algo
/examples/**/*vlm* @nvidia-nemo/rl_reviewers_multimodal
/examples/**/*sft* @nvidia-nemo/rl_reviewers_supervised
/examples/**/*dpo* @nvidia-nemo/rl_reviewers_supervised
/examples/**/*rm* @nvidia-nemo/rl_reviewers_supervised

# Core (TODO: Add all algo subteams eventually)
/nemo_rl/algorithms/ @nvidia-nemo/rl_reviewers_algo
/nemo_rl/algorithms/sft.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/algorithms/dpo.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/algorithms/rm.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/environments/ @nvidia-nemo/rl_reviewers_environments @nvidia-nemo/rl_reviewers_algo
/nemo_rl/data/ @nvidia-nemo/rl_reviewers_algo
/nemo_rl/experience/ @nvidia-nemo/rl_reviewers_environments @nvidia-nemo/rl_reviewers_algo
/nemo_rl/evals/ @nvidia-nemo/rl_reviewers_eval
/nemo_rl/distributed/ @nvidia-nemo/rl_reviewers_infra
/nemo_rl/models/ @nvidia-nemo/rl_reviewers_automodel @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/models/dtensor/ @nvidia-nemo/rl_reviewers_automodel
/nemo_rl/models/generation/ @nvidia-nemo/rl_reviewers_generation
/nemo_rl/models/generation/fp8.py @nvidia-nemo/rl_reviewers_perf
/nemo_rl/models/megatron/ @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/models/policy/dtensor* @nvidia-nemo/rl_reviewers_automodel
/nemo_rl/models/policy/megatron* @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/utils/flop* @nvidia-nemo/rl_reviewers_perf

# Infra, tooling, and docs
/docker/ @nvidia-nemo/rl_reviewers_infra
/docs/ @nvidia-nemo/rl_reviewers_doc
/3rdparty/Automodel-workspace/ @nvidia-nemo/rl_reviewers_automodel
/3rdparty/Megatron-LM-workspace/ @nvidia-nemo/rl_reviewers_mcore
/3rdparty/Megatron-Bridge-workspace/ @nvidia-nemo/rl_reviewers_mcore
/ray.sub @nvidia-nemo/rl_reviewers_infra

# Codeowners
/.github/CODEOWNERS @nvidia-nemo/rl_maintainers

better comments
  nemo_rl/algorithms/grpo.py
  nemo_rl/models/policy/dtensor_policy_worker.py
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Update ray.sub
  ray.sub
Owners: @nvidia-nemo/rl_reviewers_infra

save
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

dev
  nemo_rl/models/policy/lm_policy.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

attempt to fix
  nemo_rl/distributed/virtual_cluster.py
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_infra, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

attempt to fix
  nemo_rl/distributed/virtual_cluster.py
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_infra, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

fix
  nemo_rl/distributed/virtual_cluster.py
Owners: @nvidia-nemo/rl_reviewers_infra

Apply suggestions from code review
  nemo_rl/distributed/virtual_cluster.py
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_infra, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Address comments
  nemo_rl/distributed/virtual_cluster.py
Owners: @nvidia-nemo/rl_reviewers_infra

Attempt to bump kitchen to latest
  3rdparty/kitchen-workspace/pyproject.toml
Owners: @nvidia-nemo/rl_maintainers

add doc
  docs/debugging.md
Owners: @nvidia-nemo/rl_reviewers_doc

Fix library path in kitchen-workspace/setup.py
  3rdparty/kitchen-workspace/setup.py
Owners: @nvidia-nemo/rl_maintainers

Fix unit test
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Add a print of worker to gpu/node mapping
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
  nemo_rl/models/policy/lm_policy.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Fix UT
  nemo_rl/models/policy/dtensor_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_automodel

Move print_node_ip_and_gpu_id outside init function of policy to fix mock cluster test
  nemo_rl/algorithms/dpo.py
  nemo_rl/algorithms/grpo.py
  nemo_rl/algorithms/rm.py
  nemo_rl/algorithms/sft.py
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_supervised, @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Add test
  tests/unit/distributed/test_virtual_cluster.py
Owners: @nvidia-nemo/rl_reviewers_ci

Add util
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_generation.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
Owners: @nvidia-nemo/rl_reviewers_generation

Output buffer cache in megatron->hf generator
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_reviewers_automodel

Output buffer cache in megatron->hf generator
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_reviewers_automodel

Fix process_weights_after_loading for fp8 dense
  nemo_rl/algorithms/grpo.py
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_perf

Support moe fp8 rollout qwen
  examples/configs/grpo_math_qwen30ba3b_megatron_fp8.yaml
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_perf

save
  examples/run_grpo_random_dataset.py
  nemo_rl/data/__init__.py
  nemo_rl/data/datasets/random_dataset.py
  nemo_rl/data/interfaces.py
  nemo_rl/data/processors.py
  nemo_rl/models/generation/interfaces.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
  nemo_rl/utils/sequence_length_generator.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_maintainers

Fix eval
  examples/configs/distillation_math.yaml
  examples/configs/evals/eval.yaml
  examples/configs/grpo_math_1B.yaml
  examples/configs/vlm_grpo_3B.yaml
  examples/configs/vlm_grpo_3B_megatron.yaml
  examples/run_eval_random_dataset.py
  examples/run_grpo_random_dataset.py
  nemo_rl/data/datasets/random_dataset.py
  nemo_rl/environments/dummy_environment.py
  nemo_rl/evals/eval.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_multimodal, @nvidia-nemo/rl_reviewers_environments, @nvidia-nemo/rl_reviewers_eval, @nvidia-nemo/rl_reviewers_generation

Add timer for eval step
  nemo_rl/evals/eval.py
Owners: @nvidia-nemo/rl_reviewers_eval

Change printed metric to gen_kl_error
  nemo_rl/algorithms/grpo.py
Owners: @nvidia-nemo/rl_reviewers_algo

Fix grpo
  examples/run_grpo_random_dataset.py
  nemo_rl/data/datasets/random_dataset.py
  nemo_rl/data/processors.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_generation

fix
  nemo_rl/utils/sequence_length_generator.py
Owners: @nvidia-nemo/rl_maintainers

Fix for non deep_gemm weights
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

Fix disable_tp=True
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

Allow ignore layers
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

Hack to support qwen32b checkpoint load from megatron-rl
  grpo_qwen_32b_with_checkpoint.sh
  nemo_rl/algorithms/grpo.py
Owners: @nvidia-nemo/rl_maintainers, @nvidia-nemo/rl_reviewers_algo

simplify code
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

Rm unused code
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

Fix unit test; log KL in async function also
  nemo_rl/algorithms/grpo.py
  tests/unit/algorithms/test_grpo.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_ci

Add unit test and nightly test
  examples/configs/recipes/llm/grpo-moonlight-16ba3b-4n8g-megatron-fp8-e2e.yaml
  tests/test_suites/llm/grpo-moonlight-16ba3b-4n8g-megatron-fp8-e2e.sh
  tests/test_suites/nightly.txt
  tests/unit/models/generation/test_vllm_generation.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_ci

update doc
  docs/fp8.md
Owners: @nvidia-nemo/rl_reviewers_doc

Typo
  tests/test_suites/nightly.txt
Owners: @nvidia-nemo/rl_reviewers_ci
