Repository guyueh1/NeMo-RL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nvidia-nemo/rl_maintainers, @nvidia-nemo/rl_reviewers_ci, @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_multimodal, @nvidia-nemo/rl_reviewers_supervised, @nvidia-nemo/rl_reviewers_environments, @nvidia-nemo/rl_reviewers_eval, @nvidia-nemo/rl_reviewers_infra, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_perf, @nvidia-nemo/rl_reviewers_doc

Fix lint again
  examples/configs/recipes/llm/grpo-math-llama-nemotron-super-49b-v.5-4n8g-fsdp2tp8.yaml
Owners: @nvidia-nemo/rl_reviewers_algo

Fix test_all_recipes_can_merge_configs_with_base_config
  examples/configs/grpo_math_1B.yaml
  examples/configs/recipes/llm/grpo-llama3.1-8b-instruct-1n8g-megatron-fp8-e2e.yaml
Owners: @nvidia-nemo/rl_reviewers_algo

fix oom
  examples/configs/grpo_math_qwen30ba3b_megatron_fp8.yaml
Owners: @nvidia-nemo/rl_reviewers_algo

Fix fp8_cfg=None
  nemo_rl/models/policy/lm_policy.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

revert submodule change
  .gitmodules
Owners: @nvidia-nemo/rl_maintainers

fix kitchen for vllm mp>1
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

save work
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_mcore

save
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Initial support
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

fix lint
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Add fields and default to yamls
  examples/configs/dpo.yaml
  examples/configs/grpo_math_1B.yaml
  examples/configs/rm.yaml
  examples/configs/sft.yaml
  examples/configs/sft_openmathinstruct2_megatron.yaml
  nemo_rl/models/policy/__init__.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_supervised, @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Apply suggestions from code review
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Fix lint
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Add deepseek flops tracker
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/utils/flops_tracker.py
Owners: @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_reviewers_perf

Lint
  nemo_rl/utils/flops_tracker.py
Owners: @nvidia-nemo/rl_reviewers_perf

Fix unit test
  tests/unit/models/generation/test_vllm_generation.py
Owners: @nvidia-nemo/rl_reviewers_ci

Add kitchen and psx submodule
  .gitmodules
  3rdparty/kitchen-workspace/pyproject.toml
  3rdparty/kitchen-workspace/setup.py
  3rdparty/psx-formats-workspace/pyproject.toml
  3rdparty/psx-formats-workspace/setup.py
Owners: @nvidia-nemo/rl_maintainers

support kitchen in vllm
  .gitignore
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_maintainers, @nvidia-nemo/rl_reviewers_perf

fix
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

fix kitchen for vllm mp>1
  nemo_rl/models/generation/fp8.py
Owners: @nvidia-nemo/rl_reviewers_perf

mcore add interface for kitchen
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

submodule mbridge bump
  .gitmodules
Owners: @nvidia-nemo/rl_maintainers

uv.lock
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/rl_maintainers

Add fields to tests
  tests/unit/models/policy/test_megatron_worker.py
  tools/refit_verifier.py
Owners: @nvidia-nemo/rl_reviewers_ci, @nvidia-nemo/rl_maintainers

Update megatron_policy_worker.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Add test and fix model type parsing
  nemo_rl/utils/flops_tracker.py
  tests/unit/utils/test_flops_counter.py
Owners: @nvidia-nemo/rl_reviewers_perf, @nvidia-nemo/rl_reviewers_ci

feat: refit refactoring with zmq and overlapping
  nemo_rl/algorithms/grpo.py
  nemo_rl/models/generation/interfaces.py
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_generation.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
  nemo_rl/models/policy/dtensor_policy_worker.py
  nemo_rl/models/policy/interfaces.py
  nemo_rl/models/policy/lm_policy.py
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/models/policy/utils.py
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_maintainers

fix
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
Owners: @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel

address issue
  nemo_rl/algorithms/grpo.py
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_generation.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
  nemo_rl/models/policy/dtensor_policy_worker.py
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

docstring
  nemo_rl/algorithms/grpo.py
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_worker.py
  nemo_rl/models/generation/vllm/vllm_worker_async.py
  nemo_rl/models/policy/dtensor_policy_worker.py
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
  nemo_rl/models/policy/megatron_policy_worker.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_algo, @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

address comments and lint
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/policy/dtensor_policy_worker.py
  nemo_rl/models/policy/dtensor_policy_worker_v2.py
  nemo_rl/models/policy/megatron_policy_worker.py
  pyproject.toml
  uv.lock
Owners: @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore, @nvidia-nemo/rl_maintainers

Add debugger flag that can be turned on via RAY_DEBUG=legacy
  ray.sub
Owners: @nvidia-nemo/rl_reviewers_infra

Update nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_backend.py
Owners: @nvidia-nemo/rl_reviewers_generation

Broadcast input data from MP=0 instead of passing by ray
  nemo_rl/models/policy/lm_policy.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

separate control of megatron and VLLM qauntization config
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Update megatron_policy_worker.py
  nemo_rl/models/policy/megatron_policy_worker.py
Owners: @nvidia-nemo/rl_reviewers_mcore

Update nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Update nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/generation/vllm/vllm_backend.py
Owners: @nvidia-nemo/rl_reviewers_generation

lint
  nemo_rl/models/generation/vllm/vllm_backend.py
  nemo_rl/models/policy/utils.py
Owners: @nvidia-nemo/rl_reviewers_generation, @nvidia-nemo/rl_reviewers_automodel, @nvidia-nemo/rl_reviewers_mcore

Update nemo_rl/algorithms/grpo.py
  nemo_rl/algorithms/grpo.py
Owners: @nvidia-nemo/rl_reviewers_algo

.github/CODEOWNERS:

# Order is important: later matches have higher precedence

# List of reviewer teams
# @nvidia-nemo/rl_reviewers_algo
# @nvidia-nemo/rl_reviewers_supervised
# @nvidia-nemo/rl_reviewers_async
# @nvidia-nemo/rl_reviewers_automodel
# @nvidia-nemo/rl_reviewers_ci
# @nvidia-nemo/rl_reviewers_doc
# @nvidia-nemo/rl_reviewers_environments
# @nvidia-nemo/rl_reviewers_eval
# @nvidia-nemo/rl_reviewers_generation
# @nvidia-nemo/rl_reviewers_infra
# @nvidia-nemo/rl_reviewers_mcore
# @nvidia-nemo/rl_reviewers_multimodal
# @nvidia-nemo/rl_reviewers_models
# @nvidia-nemo/rl_reviewers_perf

# Catch-all if not defined
* @nvidia-nemo/rl_maintainers

# CI/Test
/.github/ @nvidia-nemo/rl_reviewers_ci
/tests/ @nvidia-nemo/rl_reviewers_ci

# Examples and configs (TODO: Add all algo subteams eventually)
/examples/ @nvidia-nemo/rl_reviewers_algo
/examples/**/*vlm* @nvidia-nemo/rl_reviewers_multimodal
/examples/**/*sft* @nvidia-nemo/rl_reviewers_supervised
/examples/**/*dpo* @nvidia-nemo/rl_reviewers_supervised
/examples/**/*rm* @nvidia-nemo/rl_reviewers_supervised

# Core (TODO: Add all algo subteams eventually)
/nemo_rl/algorithms/ @nvidia-nemo/rl_reviewers_algo
/nemo_rl/algorithms/sft.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/algorithms/dpo.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/algorithms/rm.py @nvidia-nemo/rl_reviewers_supervised
/nemo_rl/environments/ @nvidia-nemo/rl_reviewers_environments @nvidia-nemo/rl_reviewers_algo
/nemo_rl/data/ @nvidia-nemo/rl_reviewers_algo
/nemo_rl/experience/ @nvidia-nemo/rl_reviewers_environments @nvidia-nemo/rl_reviewers_algo
/nemo_rl/evals/ @nvidia-nemo/rl_reviewers_eval
/nemo_rl/distributed/ @nvidia-nemo/rl_reviewers_infra
/nemo_rl/models/ @nvidia-nemo/rl_reviewers_automodel @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/models/dtensor/ @nvidia-nemo/rl_reviewers_automodel
/nemo_rl/models/generation/ @nvidia-nemo/rl_reviewers_generation
/nemo_rl/models/generation/fp8.py @nvidia-nemo/rl_reviewers_perf
/nemo_rl/models/megatron/ @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/models/policy/dtensor* @nvidia-nemo/rl_reviewers_automodel
/nemo_rl/models/policy/megatron* @nvidia-nemo/rl_reviewers_mcore
/nemo_rl/utils/flop* @nvidia-nemo/rl_reviewers_perf

# Infra, tooling, and docs
/docker/ @nvidia-nemo/rl_reviewers_infra
/docs/ @nvidia-nemo/rl_reviewers_doc
/3rdparty/Automodel-workspace/ @nvidia-nemo/rl_reviewers_automodel
/3rdparty/Megatron-LM-workspace/ @nvidia-nemo/rl_reviewers_mcore
/3rdparty/Megatron-Bridge-workspace/ @nvidia-nemo/rl_reviewers_mcore
/ray.sub @nvidia-nemo/rl_reviewers_infra

# Codeowners
/.github/CODEOWNERS @nvidia-nemo/rl_maintainers
